@using ClinicaPilotagemWeb.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" c
          ontent="width=device-width" />
    <title>@Language.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Language.Error@:.</h1>
        <h2>@Language.GenerecErrorMessage@:.</h2>
    </hgroup>
</body>
</html>
