@using ClinicaPilotagemWeb.Resources
@{
    ViewBag.Title = Language.About;
}

<h2>@ViewBag.Title.</h2>
<h3>@Language.YourApplicationDescriptionPage</h3>

<p>@Language.UseThisAreaToProvideAdditionalInformation.</p>
